.idea
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

server/node_modules
app/node_modules
server/dist
server/package-lock.json

app/node_modules
app/package-lock.json