@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600";
@import 'variable';

body, html{
	margin: 0;
	padding: 0;
	height: 100%;
}
body{
	color: $body-color;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.app-messenger{
	display: flex;
	flex-direction: column;
	.header{
		height: $header-height;
		display: flex;
		flex-direction: row;
		border-bottom: 1px solid $border-color;
		.left{
			width: $left-sidebar-width;
			.actions{
				line-height: $header-height;
				padding: 0 10px;
				button{

				}
			}
		}
		.content{
			flex-grow: 1;

			h2{
				line-height: $header-height;
				text-align: center;
			}
		}
		.right{
			width: $right-sidebar-width;
			.user-bar{
				line-height: $header-height;
				display: flex;
				justify-content: flex-end;
				padding: 0 10px;
				.profile-name{
					padding-right: 10px;
				}
				.profile-image{
					line-height: $header-height;
					img{
						width: 30px;
						height: 30px;
						border-radius: 50%;
						margin: 10px 0 0 0;
					}
				}
			}
		}

	}
	.main{
		height: 100%;
		display: flex;
		overflow: hidden;
		.sidebar-left{
			
			width: $left-sidebar-width;
			border-right: 1px solid $border-color;

		}
		.sidebar-right{
			border-left: 1px solid $border-color;
			width: $right-sidebar-width;
			.title{
				padding: 10px;
			}
		}
		.content{
			flex-grow: 1;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			.messages{
				flex-grow: 1;
			}
			.messenger-input{
				border-top: 1px solid $border-color;
				height: 50px;
				display: flex;
				flex-direction: row;
				.text-input{
					flex-grow: 1;
					textarea{
						border: 0 none;
						width: 100%;
						height: 100%;
						padding: 8px 15px;

					}
				}
				.actions{

					button.send{
						background: $primary-color;
						color: #FFF;
						border: 0 none;
						padding: 7px 15px;
						line-height: 50px;
					}
				}
			}

		}

	}
}

.messages{
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: 100%;
	.message{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		margin: 15px;
		.message-user-image{
			img{
				width: 20px;
				height: 20px;
				border-radius: 50%;
			}
		}
		.message-body{
			padding-left: 10px;
			.message-author{

			}
			.message-text{
				background: $body-color;
				color: #FFF;
				padding: 10px;
				border-radius: 10px;
			}
		}

		&.me{
			justify-content: flex-start;
			.message-body{
				.message-text{
					background: $primary-color;
					color: #FFF;
				}
			}
		}
	}
}
.chanels{

	.chanel{
		cursor: pointer;
		display: flex;
		border-bottom: 1px solid $border-color;
		padding: 8px 0;
		.user-image{
			width: 30px;
			img{
				width: 30px;
				height: 30px;
				border-radius: 50%;
			}
		}
		.chanel-info{
			flex-grow: 1;
			padding-left: 8px;
			h2{
				font-size: 14px;
				font-weight: 600;
			}
			p{
				font-size: 12px;
			}
		}
		&.active{
			background: rgba(0, 0 ,0, 0.05);
		}
	}
}

.members{

	.member{
		display: flex;
		border-bottom: 1px solid $border-color;
		padding: 8px;
		.user-image{
			width: 30px;
			img{
				width: 30px;
				height: 30px;
				border-radius: 50%;
			}
		}
		.member-info{
			padding-left: 8px;
			flex-grow: 1;
			h2{
				font-size: 14px;
			}
			p{

				font-size: 12px;
			}
		}
	}
}
h2.title{
	font-size: 16px;
	font-weight: 600;
	color: rgba(0, 0 ,0,0.8);
}